<footer>
    <h3>Contacto</h3>
    <h4>Whatsapp: 118563254</h4>
    <h4>Podes tener mas informacion en <a href="https://www.igionline.com.ar/">IGI (instituto gastronomico internacional)</a></h4>
    <h4>Podes dirigirte a una de nuestras sucursales a degustar de nuestros platos</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12911.281511883475!2d-58.14192432176515!3d-36.000255251515156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959831ac554b6c1b%3A0xe8e1dba4dbdb311!2sLo%20de%20Juanjo!5e0!3m2!1ses!2sar!4v1687273052960!5m2!1ses!2sar" width="200" height="200" style="border: 2px;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>
    <p><a href="#Tope">Volver Arriba</a></p>

</footer>
